<div class="container">
<br>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="progress-card mt-3">
                <p>Project Status</p>      
                <div *ngIf="normalPB" class="mt-6" id="progressbar" (click)="onClick()">
                    <div class="row" class="progressb-out">
                        <div [ngStyle]="{'width.%':value}" class="progressb-in"></div><i>{{label}} {{value}}% ...</i>
                    </div>
                </div>
            </div>

            <div style="margin: 10px;">
                <button (click)="showProgressBar(1)" class="btn btn-primary">Start Loading</button>
            </div>
        </div>
    </div>

</div>